<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>London Locals</title>
  <% include ./partials/stylesheets %>
</head>
<body>
  <% include ./partials/navbar %>
  <main>
    <% for (const type in messages) { %>
      <p class="alert alert-<%= type %>"><%= messages[type] %></p>
    <% } %>
    <%- body %>
  </main>
  <% include ./partials/scripts %>
</body>
</html>
