<div class="homepage">
  <div class="centered">
    <div class="flip">
    <div class="front">
    <h1>London Locals</h1>
  </div>
  <div class="back">
    <h2>Discover local artists based in London and find new and amazing music</h2>
  </div>
  </div>
</div>
</div>
