<div class="homepage">
  <div class="centered">
    <h1>London Locals</h1>
    <h2>Browse local artists based in London and find new and amazing music</h2>
  </div>
</div>

<%# <img src="/images/unicorn.jpg" class="img-fluid home" alt="Unicorn pub Camden">%>
