body {
  font-family: sans-serif;
  background: #EFEEEA;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #332607;
}

h1 {
  font-family: 'Francois One', sans-serif;
  padding: 30px;
}

img {
  width: 400px;
}

.band-website {
  padding: 20px;
  a {
    font-size: 20px;
    transition: background-color 2s ease;
    text-decoration: none;
    background: #1E3107;
    padding: 5px;
    color: #EFEEEA;
  }
  a:hover {
    transition: background-color 1s ease;
    background: #EFEEEA;
    color: #1E3107;
  }
}

.social-media {
  font-size: 20px;
  a {
    font-size: 25px;
    color: #1E3107;
    padding: 5px;
  }
  .note {
    padding-top: 15px;
    font-style: italic;
  }
}

.home {
  width: 1200px;
  height: 600px;
  opacity: 0.3;
}

.card {
  height: 120px;
  margin: 20px 10px;
  border-radius: 0px;
  transition: background-color 1s ease-in;
  background: #EFEEEA;
  border: 1px solid #332607;
  a {
    text-decoration: none;
    transition: color 1s ease-in;
    color: #332607;
  }
  p {
    transition: opacity 0.8s ease-out;
    opacity: 0;
  }
  h4 {
    transition: font-size 1s ease-in;
    font-size: 30px;
    padding: 25px;
  }
}

.card:hover {
  transition: background-color 1s ease-in;
  background: #332607;
  a {
    transition: color 1s ease-in;
    color: #EFEEEA;
  }
  p {
    transition: opacity 0.8s ease-in;
    opacity: 1
  }
  h4 {
    transition: font-size padding 1s ease-in;
    font-size: 25px;
    padding: 0;
  }
}



.btn-group {
  padding: 10px;
}

.btn {
  font-family: 'Poppins', sans-serif;
}

.btn {
  font-size: 20px;
  transition: background-color 2s ease;
  text-decoration: none;
  background: #1E3107;
  padding: 5px;
  color: #EFEEEA;
  border: 0px;
  border-radius: 0px;
  padding: 10px;
}
.btn:hover {
  transition: background-color 1s ease;
  background: #EFEEEA;
  color: #1E3107;
}

.btn-outline-danger {
  font-size: 20px;
  transition: background-color 2s ease;
  text-decoration: none;
  background: #350709;
  padding: 5px;
  color: #EFEEEA;
  border: 0px;
  border-radius: 0px;
  padding: 10px;
}
.btn-outline-danger:hover {
  transition: background-color 1s ease;
  background: #EFEEEA;
  color: #350709;
}

.submit {
  margin-bottom: 30px;
}

.comments {
  background-color: rgba(30, 49, 7, 0.2);
  list-style: none;
  text-align: left;
  position: relative;
  height: 200px;
  overflow-y: scroll;
  padding-left: 0px;
  margin-top: 30px;
}

.homepage {
  background: url(/images/unicorn.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: calc(100vh - 56px);

  &:before {
    content: '';
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100vh - 56px);
    background: rgba(0, 0, 0, 0.7);
  }
}

.centered {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: #EFEEEA;
  h1 {
    font-size: 100px;
  }
}

.favourite-bands {
  padding: 100px 100px 50px 100px;
  ul {
    text-decoration: none;
    list-style: none;
    a {
      font-size: 18px;
      font-weight: 600;
      color: #1E3107;
    }
  }
}

.form {
  margin: 0 auto;
  width: 800px;
}

.navbar-brand {
  text-align: left;
}
