<h1>Bands</h1>

<div class="row">
  <% bands.forEach((band) => { %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img-top" alt="<%= band.name %>"></div>
        <div class="card-block">
          <a href="/bands/<%= band.id %>">
            <h4 class="card-title"><%= band.name %></h4>
          </a>
          <p class="card-text"><%= band.genre %></p>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<% if(locals.isLoggedIn) { %>
  <a href="/bands/new" class="btn btn-primary">Add a new London Local Band!</a>
<% } %>
