<h1>Bands</h1>

<div class="row">
  <% bands.forEach((band) => { %>
    <div class="col-md-4">
    <div class="card">
    <a href="/bands/<%= band.id %>">
    <div class="card-img-top" alt="<%= band.name %>"></div>
    <div class="card-block">
    <h4 class="card-title"><%= band.name %></h4>
    <p class="card-text"><%= band.genre %></p>
    </div>
    </div>
    </a>
    </div>
    <% }) %>
  </div>

  <% if(locals.isLoggedIn) { %>
    <a href="/bands/new" class="btn btn-primary">Add a new London Local Band!</a>
    <% } %>
