<h1>New Band</h1>

<form method="POST" action="/bands">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Band Name" class="form-control">
  </div>
  <div class="form-group">
    <label for="synopsis">Members</label>
  <input type="text" name="members" id="members" placeholder="Band Members" class="form-control">
  </div>
  <div class="form-group">
    <label for="genre">Genre</label>
    <input type="text" name="genre" id="genre" placeholder="Genre e.g. Stoner" class="form-control">
  </div>
  <div class="form-group">
    <label for="wikipedia">Website or Facebook Page</label>
    <input type="text" name="website" id="website" placeholder="Website Link" class="form-control">
  </div>
  <div class="form-group">
    <label>Band Image</label>
    <input type="text" name="images[]" class="form-control">
  </div>
  <button class="btn btn-primary">Add Band</button>
</form>
